*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-image: url(IMAGENES/Fondo\ Mesa\ Poker.png);
    background-size: 100%;
}
/*A partir de aca empieza el diseño, lo de arriba no importa*/

/* Barra de Puntaje del Lateral */
.marcador {
    position: fixed;
    right: 0;
    top: 0;
    height: 80%;
    background: rgb(99, 5, 5);
    color: white;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    border-radius: 0 0 0 15px;
}
/*Imagenes del puntaje*/
.puntaje{
    height: 3.5rem;
    position: absolute;
    margin-left: 0.3125rem; 
}
/*Linea separadora*/
.linea{
    height: 100%;
    width: 0.2rem;
    margin-top: 0;
    background-color: rgb(255, 255, 255);
    margin-right: 1rem;
    margin-left: 1rem;
}
/*Conjunto de Imagenes del puntaje*/
#ellos{
    margin-right: 0.5rem;
    font-size: 1.5rem;
    padding-bottom: 6.25rem;
}
#nos{
    margin-right: 0.5rem;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}



/*Carta del Bot*/
.cartaoponente{
    width: 5rem;
    height: 8rem;
    border-radius: 8px;
    transition: transform 0.5s;
    margin-left: 0.625rem;
    border: solid 3px;
    background-image: url(IMAGENES/Parte\ Trasera\ Cartas.png);
    background-size: cover;
    margin-top: 1.7rem;
}

/*Cartas del Jugador*/
.carta2{
    width: 5.5rem;
    height: 9rem;
    border-radius: 8px;
    transition: transform 0.5s;
    margin-left: 0.625rem;
    margin-top: 0;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.5);
}
.carta2:hover{
    transform: scale(1.1);
    border: solid 3px;   
}


/*Separacion de las cartas a la izquierda*/
#carta6{
    margin-left: 35%;
}
#carta1{
    margin-left: 20%;
}


/*Cartas del Centro y la separacion de la izquierda*/
.CartasCentro{
    width: 4rem;
    height: 7rem;
    border-radius: 8px;
    margin-left: 0.625rem;
    visibility: hidden;
}
#CCE1{
    margin-left: 40%;
}
#CCN1{
    margin-left: 38%;
}


/* Clase No Visible y No Tocable */
.oculto{
    visibility: hidden;     
    pointer-events: none; 
}



/*Texto Turno*/
#Turno{
    position: absolute;
    margin-left: 0.625rem;
    font-size: 1.5rem; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin:-0.9375rem;
    background-color: rgb(99, 5, 5);
    padding: 1.875rem;
    border: solid 0.3125rem;
    border-color: black;
    border-radius: 20px;
}


/*Botones de la Barra Inferior*/
.BarraInferiorBTN{
    padding-left: 5.85rem;
    padding-right: 5.85rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgb(85, 48, 6);
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    border: solid 0.625rem rgb(163, 163, 9);
    border-radius: 5px;
    transition: all 0.5s;
}
.BarraInferiorBTN:hover{
    transform: scale(1.1);
    font-size: 3.5rem;
    border: solid 0.3125rem rgb(163, 163, 9);
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: -2rem;
}

/*Botones desabilitados */
.BarraInferiorBTN-NH{
    padding-left: 5.85rem;
    padding-right: 5.85rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgb(56, 56, 56);
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    border: solid 0.625rem rgb(150, 150, 150);
    border-radius: 0.3125rem;
    pointer-events: none;
    opacity: 0.8;
    transition: all 0.5s;
}

/*Lo mismo que lo de arriba pero con palabras largas*/
.PalabrasLargas{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgb(85, 48, 6);
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    border: solid 0.625rem rgb(163, 163, 9);
    border-radius: 0.3125rem;
    transition: all 0.5s;
}
.PalabrasLargas:hover{
    transform: scale(1.1);
    font-size: 3.5rem;
    border: solid 0.3125rem rgb(163, 163, 9);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: -2rem;
}
/*No habilitados*/
.PalabrasLargas-NH{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgb(56, 56, 56);
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    border: solid 0.625rem rgb(150, 150, 150);
    border-radius: 0.3125rem;
    pointer-events: none;
    opacity: 0.8;
    transition: all 0.5s;
}


/*Decoraciones:*/
/*Mazo*/
#Mazo{
    position: absolute;
    z-index: 2;
    width: 5.625rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.5);
    transition: transform 1s;
}
#Mazo:hover{
    transform: translate(-6.25rem, 1.25rem);
}

/*El texto del easter egg*/
#TEXTO{
    display: none;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 0.625rem;
    font-family: Arial, Helvetica, sans-serif;
}
#Mazo-Texto:hover #TEXTO{
    display: block;
}

/*Las pocisiones del mazo dependiendo del turno*/
.M_P1{
    margin-left: 12rem;
    margin-top: 6rem;
}
.T_P1{
    margin-left: 13rem;
    margin-top: 9rem;
}
.M_P2{
    margin-left: 65rem;
    margin-top: 20rem;
}
.T_P2{
    margin-left: 66rem;
    margin-top: 23rem;
}






/*Mate*/
#Mate{
    position: absolute;
    width: 7.5rem;
    margin-left: 20rem;
    margin-top: 1.25rem;
}
/*Don Satur*/
#Don-Satur{
    position: absolute;
    width: 10.625rem; 
    margin-left: 4.375rem;
    margin-top: 21.875rem;
    transition: transform 1s;
}
#Don-Satur:hover{
    transform: scale(1.5) rotate(-30deg);
}

