*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-image: url(IMAGENES/Fondo\ Mesa\ Poker.png);
    font-family: "Pixelify Sans", sans-serif;
    background-size: 100%;
}
/*A partir de aca empieza el diseño, lo de arriba no importa*/

/* Barra de Puntaje del Lateral */
.marcador {
    position: fixed;
    right: 0;
    top: 0;
    height: 77%;
    background: rgb(99, 5, 5);
    color: white;
    padding: 1rem;
    font-size: 2rem;
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 0 0 0 15px;
}
/*Imagenes del puntaje*/
.puntaje{
    height: 3.5rem;
}
/*Linea separadora*/
.linea{
    height: 100%;
    width: 0.5rem;
    margin-top: 0;
    background-color: rgb(255, 255, 255);
    margin-right: 1rem;
    margin-left: 1rem;
}
/*Div para tener la imagenes simetricas*/
.puntajeDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
/*El marcador es simétrico*/
#nos{
    padding: 0 1.17rem 0 1.17rem;
}

/*Texto Turno*/
#Turno{
    position: fixed;
    font-size: 1.5rem; 
    font-family: "Pixelify Sans", sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(99, 5, 5);
    padding: 1rem;
    border: solid 0.3125rem;
    border-color: black;
    border-radius: 0 0 20px 0;
}
/*Todo el div del menu*/
.MenuContainer {
    position: fixed;
    top: 4rem;
    left: 1rem;
  }
/*Logo del menu*/
  .Menu {
    color: white;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.5s;
  }
/*div donde estan botones*/
  .BarraMenu {
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 10rem;
    margin-left: -1rem;
  }
  /*Clase de los botones*/
  .BotonesMenu{
    transition: all 0.5s;
    font-family: "Pixelify Sans", sans-serif;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    border: solid 2px;
    border-radius: 5px;
  }
  .BotonesMenu:hover{
    transform: scale(1.1);
  }
/*Mostrar menu al hover el logo menu*/
  .MenuContainer:hover .BarraMenu {
    display: block;
  }
/*Agrandar menu*/
  .Menu:hover{
      transform: scale(1.1);
  }


 /*Div que contiene las cartas*/ 
.ContenedorCartas{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0.2rem;
    padding: 0.2rem;
}


/*Carta del Bot*/
.CartaOponente{
    margin-top: 0.5rem;
    width: 5rem;
    height: 8rem;
    border-radius: 8px;
    transition: transform 0.5s;
    border: solid 3px;
    background-image: url(IMAGENES/Parte\ Trasera\ Cartas.png);
    background-size: cover;
}

/*Separación de la izquierda cartas jugador*/
.Jugador{
  margin-left: -20rem;  
}
/*Cartas del Jugador*/
.CartaJugador{
    width: 5.5rem;
    height: 9rem;
    border-radius: 8px;
    transition: transform 0.5s;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.5);
}
.CartaJugador:hover{
    transform: scale(1.1);
    border: solid 3px;   
}

/*Separación de la izquierda cartas del centro*/
.Centro{
    margin-left: -10rem;
}
/*Cartas del Centro*/
.CartasCentro{
    width: 4rem;
    height: 7rem;
    border-radius: 8px;
    visibility: hidden;
}

/* Clase No Visible y No Tocable */
.oculto{
    visibility: hidden;     
    pointer-events: none; 
}


/*Botones del quiero y no quiero*/
/*Div que contiene los botones*/
.BotonesVoluntad{
    position: absolute;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    left: 35%;
    top: 70%;
    z-index: 2;
}

/*Botones individuales */
.Voluntad{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border: solid 0.2rem rgb(163, 163, 9);
    font-family: "Pixelify Sans", sans-serif;
    background-color: #315911;
    border-radius: 5px;
    transition: all 0.5s;
    padding: 1rem 1.5rem 1rem 1.5rem;
}
.Voluntad:hover{
    transform: scale(1.1);
}
#NOQUIERO{
    background-color: #6D220F;
    padding: 1rem 0.09375rem 1rem 0.09375rem;
}


/*div que contiene a los botones*/
.BotonesInferiores{
    margin-top: -0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.1rem;
    height: 8rem;
}
/*Botones de la Barra Inferior*/
.BarraInferiorBTN{
    font-family: "Pixelify Sans", sans-serif;
    background-color: rgb(85, 48, 6);
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    border: solid 0.625rem rgb(163, 163, 9);
    border-radius: 5px;
    transition: all 0.5s;
    padding: 1.4rem 6.5rem 1.4rem 6.5rem;
}
.BarraInferiorBTN:hover{
    font-size: 4.5rem;
    border: solid 0.4rem rgb(163, 163, 9);
    padding: 0.7rem 3rem 0.7rem 3rem;
}

/*Botones desabilitados */
.BarraInferiorBTN-NH{
    font-family: "Pixelify Sans", sans-serif;
    background-color: rgb(56, 56, 56);
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    border: solid 0.625rem rgb(150, 150, 150);
    border-radius: 0.3125rem;
    pointer-events: none;
    opacity: 0.8;
    transition: all 0.5s;
    padding: 1.4rem 6.5rem 1.4rem 6.5rem;

}

/*Lo mismo que lo de arriba pero con palabras largas*/
.PalabrasLargas{
    font-family: "Pixelify Sans", sans-serif;
    padding: 1.5rem 4.5rem 1.5rem 4.5rem;
    background-color: rgb(85, 48, 6);
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    border: solid 0.625rem rgb(163, 163, 9);
    border-radius: 0.3125rem;
    transition: all 0.5s;
}
.PalabrasLargas:hover{
    font-size: 4.5rem;
    border: solid 0.4rem rgb(163, 163, 9);
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
}
/*No habilitados*/
.PalabrasLargas-NH{
    font-family: "Pixelify Sans", sans-serif;
    padding: 1.5rem 4.5rem 1.5rem 4.5rem;
    background-color: rgb(56, 56, 56);
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    border: solid 0.625rem rgb(150, 150, 150);
    border-radius: 0.3125rem;
    pointer-events: none;
    opacity: 0.8;
    transition: all 0.5s;
}




/*Decoraciones:*/
/*Mazo*/
#Mazo{
    position: absolute;
    z-index: 2;
    width: 5.625rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.5);
    transition: transform 1s;
}
#Mazo:hover{
    transform: translate(-6.25rem, 1.25rem);
}

/*El texto del easter egg*/
#TEXTO{
    display: none;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 0.625rem;
    font-family: "Pixelify Sans", sans-serif;
}
#Mazo-Texto:hover #TEXTO{
    display: block;
}

/*Las pocisiones del mazo dependiendo del turno*/
.M_P1{
    margin-left: 12rem;
    margin-top: 6rem;
}
.T_P1{
    margin-left: 13rem;
    margin-top: 8rem;
}
.M_P2{
    margin-left: 60rem;
    margin-top: 20rem;
}
.T_P2{
    margin-left: 61rem;
    margin-top: 22rem;
}

/*Imagenes decorativas*/
/*Mate*/
#Mate{
    position: absolute;
    width: 7.5rem;
    margin-left: 20rem;
    margin-top: 1.5rem;
}
/*Don Satur*/
#Medialuna{
    position: absolute;
    width: 10.625rem; 
    margin-left: 4.375rem;
    margin-top: 21.875rem;
    transition: transform 1s;
}
#Medialuna:hover{
    transform: scale(1.5) rotate(-30deg);
}

/*Pantalla de Perdida*/
.PantallaPerdida{
    position: fixed;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
}
.CuadradoOpaco{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
}
.CuadradoPerdida{
    position: absolute;
    background-color: rgb(172, 172, 172);
    height: 30rem;
    width: 60rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.GameOver{
    color: red;
    font-size: 6rem;
    transition: all 0.5s;
}
.GameOver:hover{
    color: rgb(200, 0, 0);
}

.BarraMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
.Estadisticas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.BotonesEstadisticas{
    width: 25rem;
    padding: 0.5rem;
    border-radius: 30px;
    border: solid 5px;
    font-size: 2rem;
    font-family: "Pixelify Sans", sans-serif;
    transition: all 0.5s;
}
.BotonesEstadisticas:hover{
    font-size: 2.5rem;
}

.CaritaTriste{
    width: 10rem;
}

.BotonesPerdidosDIV{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.BotonesPerdidos{
    width: 20rem;
    padding: 0.5rem;
    border-radius: 30px;
    border: solid black 6px;
    font-size: 2rem;
    background-color: red;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    transition: all 0.5s;
}
.BotonesPerdidos:hover{
    transform: scale(1.1);
}