*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url("img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Pixelify Sans", sans-serif;
    overflow: hidden;
}

/*TRUCADO*/
.Titulo {
    text-align: center;
    font-size: 10rem;
    color: white;
    border: solid 10px;
    margin-left: 5rem;
    margin-top: 6rem;
    width: 60%;
}

/*El flex que contiene a los botones*/
.Botones {
    margin-top: 5rem;
    margin-left: 10.5rem;
    display: flex;
    gap: 3rem;
}

/*Clases individuales de los botones*/
.btn {
    background-size: cover;       /* ajusta para cubrir todo el botón */
    background-position: center;  /* centra la imagen */
    background-repeat: no-repeat; /* evita repeticiones */
    height: 8rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}
#Colección {
    background-image: url(img/Boton\ de\ Colección.png);
    width: 20rem;
}
#Jugar{
    background-image: url(img/Boton\ de\ Jugar.png);
    width: 17.3rem;
}
.btn:hover {
    transform: scale(1.2);
}

.MenuContainer {
  position: fixed;
  top: 1rem;
  right: 2rem;
  display: inline-block;
}
.Menu {
  color: white;
  font-size: 60px;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s;
}

.Creditos {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 250px;
  border: 3px solid white;
  background-color: rgb(0, 88, 10);
  color: white;
  padding: 10px;
  font-size: 15px;
  font-family: "Pixelify Sans", sans-serif;
}

.MenuContainer:hover .Creditos {
  display: block;
}
.Menu:hover{
    transform: scale(1.1);
}

#cuadrado{
    position: absolute;
    opacity: 0;
    height: 3rem;
    width: 3rem;
    margin-left: 67.7rem;
    margin-top: 1rem;
}